[Unit]

Description=Nextcloud

After=default.target

[Service]

ExecStart=/home/achuthan/startup-script/public-nextcloud.sh

[Install]

WantedBy=default.target
