[Unit]

Description=emby

After=default.target

[Service]

ExecStart=/home/achuthan/startup-script/public-emby.sh

[Install]

WantedBy=default.target
